# Ignore node_modules in all subdirectories
01_Web_Server/node_modules/
02_Express/node_modules/
VIDTUBE/node_modules/

#ignore env 

VIDTUBE/.env
VIDTUBE/.env.sample

#ignore package.lock

01_Web_Server/package-lock.json
02_Express/package-lock.json
VIDTUBE/package-lock.json